<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <p>氏名</p>
  <div class="field">
    <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>
  <p>カナ</p>
  <div class="field">
    <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %>
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
  </div>
  <p>郵便番号</p>
  <div class="field">
    <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code" %>
  </div>
  <p>住所</p>
  <div class="field">
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>
  <p>電話番号</p>
  <div class="field">
    <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
  </div>
  <p>メールアドレス</p>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <p>パスワード</p>
  <div class="field">

    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <p>パスワード確認</p>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

