<h1>注文一覧画面</h1>
<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
 <tbody>
  <% @orders.each do |order| %>
    <tr>
      <th><%= link_to order.created_at, admin_order_path(order.id) %></th>
      <th><%= customer.family_name %><%= customer.last_name %></th>
      <th><%= orderd_products.quantity %></th>
      <th><%= order.order_status %></th>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @orders, class: "paginate" %>
