<div class="container">
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1">
			<h4>マイページ</h4>
			<p><span style="font-size:1.3em;">登録情報</span>
				&nbsp;&nbsp;<%= link_to '編集する', edit_customer_path(@customer), class: "btn btn-info" %>
				&nbsp;&nbsp;<%= link_to 'パスワードを編集する', edit_customer_registration_path, class: "btn btn-info" %>
			</p>
		</div>
		<div class="col-xs-6 col-xs-offset-1">
			<table class="table table-bordered">
				<tr>
					<th class="warning">氏名</th>
					<td><%= @customer.family_name %>&nbsp; <%= @customer.last_name %></td>
				</tr>
				<tr>
					<th class="warning">カナ</th>
					<td><%= @customer.family_name_kana %>&nbsp; <%= @customer.last_name_kana %></td>
				</tr>
				<tr>
					<th class="warning">郵便番号</th>
					<td>〒<%= @customer.post_code.to_s.insert(3, "-") %></td>
				</tr>
				<tr>
					<th class="warning">住所</th>
					<td><%= @customer.address %></td>
				</tr>
				<tr>
					<th class="warning">電話番号</th>
					<td><%= @customer.telephone_number %></td>
				</tr>
				<tr>
					<th class="warning">メールアドレス</th>
					<td><%= @customer.email %></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1">
			<p><span style="font-size:1.1em;">配送先</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '一覧を見る', addresses_path(@customer), class: "btn btn-warning" %>&nbsp;&nbsp;
				<span style="font-size:1.1em;">注文履歴</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '一覧を見る', orders_path(@customer), class: "btn btn-warning" %></p>
			</div>
		</div>
	</div>
</div>
