<div class="container">
	<div class="row">
		<h3>注文情報確認</h3>
		<% @carts.each do |cart| %>
		<% cart.product.name %>
		<% end %>

		<div class="col-xs-8">
			<table class="table table-bordered">
				<thead>
					<tr class="warning">
						<th>商品名</th>
						<th>数量</th>
						<th>単価(税込)</th>
						<th>小計</th>
					</tr>
				</thead>
				<tbody>
					<% @carts.each do |cart| %>
					<tr>
						<td><%= attachment_image_tag cart.product, :image,size: "120x80" %></td>
						<td><%= cart.product.name %></td>
						<td><%= cart.quantity %></td>
						<td><%= ((cart.product.price * 1.08) * cart.quantity).floor.to_s(:delimited, delimiter: ',') %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>

		<div class="col-xs-4">
			<table class="cell table table-bordered">
				<tr>
					<th class="warning">配送料</th>
					<td><%= @order_postage %></td>
				</tr>
				<% @sum = 0 %>
				<% @carts.each do |cart| %>
				<tr>
					<%#<th>商品合計</th> %>
					<%# @sum += o_product.price %>
					<% @sum += ((cart.product.price * 1.08) * cart.quantity).floor %>

					<% end %><br>
					<th class="warning">商品合計</th>
					<td><%= @sum.to_s(:delimited, delimiter: ',') %></td>
				</tr>
				<tr>
					<th class="warning">ご請求金額</th>
					<% @total_amount = @sum + @order_postage %>
					<td><%= (@total_amount).floor.to_s(:delimited, delimiter: ',') %></td>
					<%# binding.pry %>
				</tr>
			</table>
		</div>
	</div>

	<%= form_for(@order) do |f| %>
	<p>
		<span style="font-size: 20px";>支払方法</span>
		<span style="font-size: 16px";>&nbsp;&nbsp;&nbsp;&nbsp;<%= @order.method_of_payment %></span></p>

		<p><span style="font-size: 20px";>お届け先</span>
			<span style="font-size: 14px";>&nbsp;&nbsp;&nbsp;〒<%= @order.postcode.to_s.insert(3, "-") %></span>
			<span style="font-size: 16px";>&nbsp;&nbsp;<%= @order.shipping_address %>&nbsp;&nbsp;<%= @order.shipping_name %></span>
		</p>
		<br>

		<!-- サイト上に見えない形でorder情報を送る -->
		<%= f.hidden_field :total_amount, value: @order.total_amount %>
		<%= f.hidden_field :order_status, value: @order.order_status %>
		<%= f.hidden_field :method_of_payment, value: @order.method_of_payment %>
		<%= f.hidden_field :postcode, value: @order.postcode %>
		<%= f.hidden_field :shipping_address, value: @order.shipping_address %>
		<%= f.hidden_field :shipping_name, value: @order.shipping_name %>
		<%= f.hidden_field :postage, value: @order_postage %>
	</div>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-5">
			<%= f.submit "購入を確定する",class:"btn btn-info btn-lg" %>

			<% end %>
		</div>
	</div>
</div>
