<h1>注文情報確認</h1>

  <%= form_for(@order) do |f| %>
  <h3>支払方法</h3>
      <%= @order.method_of_payment %>
      <%= f.hidden_field :method_of_payment, value: @order.method_of_payment %>
  <h3>お届け先</h3>
      <%= @order.shipping_address %>
      <%= f.hidden_field :shipping_address, value: @order.shipping_address %><br>
  <%= f.submit "購入を確定する" %>
<% end %>
