<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <p>注文履歴一覧</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="warning">注文日</th>
            <th class="warning">配送先</th>
            <th class="warning">注文商品</th>
            <th class="warning">支払い金額</th>
            <th class="warning">ステータス</th>
            <th class="warning">注文詳細</th>
          </tr>
          <thead>
            <tbody>
              <% @customer.orders.each do |order| %>
              <tr>
                <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
                <td>
                  <%= order.postcode %><br>
                  <%= order.shipping_address %><br>
                  <%= order.shipping_name %>
                </td>
                <td><% order.orderd_products.each do |o_product| %>
                  <%= o_product.product.name %><br>
                  <% end %>
                </td>
                <td><%= order.total_amount.to_s(:delimited, delimiter: ',') %></td>
                <td><%= order.order_status %></td>
                <td><p class="text-center"><%= link_to order_path(order),class:"btn btn-info" do %>
                 注文詳細
                 <% end %></p>
               </td>
             </tr>
           </tbody>
           <% end %>
         </table>
       </div>
     </div>
   </div>