<h1>購入情報入力</h1>

<%= form_for(@order, url: confirm_new_order_path) do |f| %>
<h3>支払入力</h3>
<label><%= f.radio_button :method_of_payment, "card" %>クレジットカード</label><br>
<label><%= f.radio_button :method_of_payment, "bank" %>銀行振込</label>

<h3>お届け先</h3>

<label><%= radio_button_tag :select_shipping_address, "1" %>ご自身の住所</label><br>
<%= current_customer.post_code %><%= current_customer.address %><br>
<%= current_customer.family_name %><%= current_customer.last_name %><br>

<label><%= radio_button_tag :select_shipping_address, "2" %>登録済住所から選択<br>
<%= f.select :shipping_address, @customer.addresses.collect { |p| [ p.shipping_address, p.shipping_address ] }, :prompt => "住所を選択" %></label><br>

 <label>
  <%= radio_button_tag :select_shipping_address, "3" %>新しいお届け先<br>
  <%= f.fields_for @address do |a| %>
 郵便番号　<%= a.text_field :post_code %><br>
 住所　　　<%= a.text_field :shipping_address %><br>
 宛名　　　<%= a.text_field :shipping_name %>

 <% end %>
</label>

 <br><%= f.submit "確認画面に進む" %>

 <% end %>
