<div class="container">
  <div class="row">
    <div class="taikai col-xs-5 col-xs-offset-3 text-center">
      <br>
      <br>
      <br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table>
      <tr>
        <th class="col-xs-5">
        <%= f.label :メールアドレス %>
        </th>
        <td>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"col-xs-12" %>
        </td>
      </tr>
      <tr><th><br></th></tr>
      <tr>
        <th class="col-xs-5">
         <%= f.label :パスワード %>
       </th>
       <td>
         <%= f.password_field :password, autocomplete: "current-password",class:"col-xs-12" %>
       </td>
      </tr>
    </table>
    <br>
    <div class="actions">
      <%= f.submit "ログイン",class:"btn btn-info" %>
    </div>
    <% end %>
  </div>
</div>