<div class="container">
  <div class="row">
    <div class="col-xs-9 col-xs-offset-1">
      <h3>配送先編集</h3>
      <table class="table table-bordered">
        <%= form_for @address do |f| %>
        <tbody>
          <tr>
            <th class="warning">郵便番号</th>
            <td><%= f.text_field :post_code %></td>
          </tr>
          <tr>
            <th class="warning">住所</th>
            <td><%= f.text_field :shipping_address,:size => "60*30" %></td>
          </tr>
          <tr>
           <th class="warning">宛名</th>
           <td><%= f.text_field :shipping_name %></td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
 <div class="row">
  <div class="col-xs-2 col-xs-offset-9">
    <%= f.submit "編集する", class: "btn btn-info" %>
  </div>
</div>
<% end %>
</div>