<div class="container">
  <div class="row">
    <!--フォーム-->
    <div class="col-xs-9 col-xs-offset-1">
      <table class="table table-bordered">
       <h3>配送先登録/一覧</h3>
       <%= form_for(@address, url: "/addresses") do |f| %>
       <tbody>
        <tr>
          <th class="warning">郵便番号</th>
          <td><%= f.text_field :post_code %></td>
        </tr>
        <tr>
          <th class="warning">住所</th>
          <td><%= f.text_field :shipping_address,:size => "60*30" %></td>
        </tr>
        <tr>
         <th class="warning">宛名</th>
         <td><%= f.text_field :shipping_name %></td>
       </tr>
       <tbody>
       </table>
     </div>
   </div>
   <div class="row">
    <p class="col-xs-2 col-xs-offset-9"><%= f.submit "登録する", class: "btn btn-info" %></p>
  </div>
  <% end %>

  <!--配送先一覧-->
  <div class="row">
    <div class="col-xs-9 col-xs-offset-1">
      <table class="table table-bordered">
       <tr class="warning"><th>郵便番号</th><th>住所</th><th>宛名</th><th></th></tr><!--見出し-->
       <tr>
        <% @addresses.each do |address| %>
        <td><%= address.post_code %></td><!--郵便番号-->
        <td><%= address.shipping_address %></td><!--住所-->
        <td><%= address.shipping_name %></td><!--住所-->
        <td>
         <%= link_to "編集する",  edit_address_path(address.id) , class: "btn btn-info" %><!--編集ボタン、idいる-->
         <%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-warning"  %><!--削除ボタン、idいる-->
       </td>
     </tr>
     <% end %>
   </table>
 </div>
</div>
</div>