<div class="container">
    <div class="row">
        <div class="form-group">
            <h2>商品 新規登録画面</h2>
            <div class="col-xs-3 col-xs-offset-1">
                <%= form_for @new_product, :url => { :controller => :products, :action => :create } do |f| %>

                <%= attachment_image_tag @product, :image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left image",fallback: "no_image.jpg" %>
                <%= f.attachment_field :image %>
            </div>
            <div class="col-xs-4">
                <label>商品名</label><br>
                <%= f.text_field :name %><br>
                <label>商品説明</label><br>
                <%= f.text_area :description %><br>
                <label>ジャンル</label><br>
                <%= f.collection_select(:genre_id, Genre.all, :id, :name, :prompt => "--選択して下さい--") %><br>

                <label>税抜価格</label><br>
                <%= f.text_field :price %>円<br>
                <label>販売ステータス</label><br>
                <%#<%= f.collection_select(:sales_status, Product.all, :id, :name, :prompt => "--選択して下さい--") %>

                <%= f.select :sales_status, Product.sales_statuses.keys, :prompt => "--選択して下さい--" %><br>

                <%= f.submit "新規登録",class:"btn btn-info" %>
                <% end %>
            </div>
        </div>
    </div>
</div>