<div class="container">
    <div class="row">
        <h2>商品詳細画面</h2>
        <div class="col-xs-4">
            <%#<%= attachment_image_tag モデル名, :image, :fill, 横幅の数値(例: 100), 縦幅の数値, format: '拡張子名(例: jpg)' %>
            <%= attachment_image_tag @product, :image, :fill, 300, 200 %>
        </div>
        <div class="col-xs-5">
            <h4><span style="font-size:0.9em;">商品名</span>&nbsp;&nbsp;<%= @product.name %></h4><br>
            <div class="flex">
                <span style="font-size:0.9em;">商品説明</span>
                <p class="product-description"><%= @product.description %></p>
            </div>
            <h4><span style="font-size:0.9em;">ジャンル</span>&nbsp;&nbsp;<%= @product.genre.name %></h4>
            <h4><span style="font-size:0.9em;">税込価格（税抜価格）</span>&nbsp;&nbsp;<%= (@product.price * 1.08).floor.to_s(:delimited, delimiter: ',') %> (<%= @product.price.to_s(:delimited, delimiter: ',') %>)　円</h4><br>

            <h4><span style="font-size:0.9em;">販売ステータス</span>&nbsp;&nbsp;<%= @product.sales_status %></h4><br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
            <%= link_to '編集する', edit_admin_product_path(@product.id), class: "btn btn-info" %>
        </div>
    </div>
</div>
