<div class="container">
  <div class="row">
    <p>会員の方はこちらからログイン</p>
    <p><%= flash[:notice] %></p><!--赤文字-->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="table table-bordered">
      <tr>
        <th>
          <%= f.label :メールアドレス %>
        </th>
        <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :パスワード %>
        </th>
        <td>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </td>
      </tr>
    </table>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
    <% end %>

    <%= render "customers/shared/links" %>
  </div>
</div>