<div class="container">
  <div class="row">
    <div class="col-xs-2">
        <%= render 'layouts/sidegenre', genres: @genres %><!--サイドバー部分テンプレート-->
    </div>

    <div class="col-xs-10 p-6">
      <div class="row">
        <!--空白-->
        <div class="col-xs-5">
           <%= attachment_image_tag @product, :image, size: "350x240" %><br><!--商品画像-->
       </div>
        <div class="col-xs-4">
          <h2><%= @product.name %><br></h2><!--商品名-->
           <%= @product.description %><br><!--商品説明-->
           <span style="font-size:1.4em;">￥<%= (@product.price * 1.08).floor.to_s(:delimited, delimiter: ',') %>（税込）</span><!--商品税込み価格,小数点切り捨て-->

       <%= form_for @carts, url: "/carts" do |f| %><!--カートへ送るフォーム、createアクション-->
       <!--商品の情報追加のため,f.hidden_field使用,入れるさき（パラメータ）はcartの:product_idカラム,value(送る中身)をproductのidに設定-->
           <%= f.hidden_field :product_id, value: @product.id %>
           <!--個数選択プルダウン２０まで,cart_itemsテーブルのquantityに保存-->
           <%= f.select :quantity, [[1,"1"],[2,"2"],[3,"3"],[4,"4"],[5,"5"],[6,"6"],[7,"7"],[8,"8"],[9,"9"],[10,"10"],[11,"11"],[12,"12"],[13,"13"],[14,"14"],[15,"15"],[16,"16"],[17,"17"],[18,"18"],[19,"19"],[20,"20"]] %>
            <%= f.submit "カートに入れる",class: "btn btn-info" %><!--カートに入れるリンク-->
       <% end %>
       </div>
    </div>
  </div>
</div>
