<!DOCTYPE html>
<html>
  <head>
    <title>Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>cake</h1>
      <ul>
        <% if customer_signed_in? %>
            <li><%= @customer.family_name %><%= @customer.last_name %></li>
            <li>マイページ</li>
            <li>カート</li>
            <li>アバウト</li>
            <li>
              <%= link_to destroy_customer_session_path, method: :delete  do %>
                ログアウト
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_customer_session_path do %>
                ログイン
              <% end %>
            </li>
            <li>アバウト</li>
        <% end %>
      </ul>
    <%= yield %>
  </body>
</html>
